body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Color de fondo opcional */
}

#weatherContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: #555;
}

#jokeContainer {
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #fff; /* Color de fondo opcional */
}

#getJokeButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.score-button {
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.score-button.selected {
    background-color: #4caf50;
    color: #fff;
}

.score-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}