body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('./img/blob.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 700px; 
}

#jokeContainer {
    position: relative;
    width: 400px;
    height: 400px;
    text-align: center;
    background: none;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#weatherContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: #555;
}

/************/
/***Button***/
.container {
    position: relative;
    display: inline-block;
}

#getJokeButton {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    border: 3px solid black;
    border-radius: 50px;
    background-color: transparent;
    position: relative;
    z-index: 2; /* Asegura que el botón esté sobre el #colorUnderlay */
}

#colorUnderlay {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 146px;
    height: 57px;
    background-color: #edc951;
    border-radius: 50px;
    z-index: 1;
}
/*End*Button*/
/************/

.score-buttons {
    display: flex;
    justify-content: space-around;

}

.score-button {
    margin-top: 15px;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    width: 60px;
    height: 60px;
}

.score-button.selected{
    background: rgb(250,0,255);
    background: radial-gradient(circle, rgba(250,0,255,1) 25%, rgba(95,81,237,0) 79%);
}

.score-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#jokeContainer, h2 {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

span.temperature {
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    font-size: x-large;
    vertical-align: 14px;
}

span.pipe {
    font-family: system-ui;
    font-size: xxx-large;
    font-weight: 200;
    vertical-align: 8px;
    margin: 0 5px 0 5px;
    color: black;
}
